<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
      <%= link_to 'Mister Cocktail', cocktails_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <%= form_tag(cocktails_path, method: :get) do %>
        <div class="form-row">
          <div class="col d-flex">
          <%= text_field_tag :query, params[:query], placeholder: 'Search by name', class: 'form-control flex-fill' %>
          </div>
          <div class="col d-flex">
          <%= submit_tag 'Go', name: nil, class: 'btn btn-primary my-2 my-sm-0 flex-fill' %>
          </div>
        <% end %>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create New Cocktail
          </button>
          <div class="dropdown-menu">
            <%= simple_form_for @cocktail, html: { class: 'px-4 py-3' } do |f| %>
              <%= f.input :name, label:false, placeholder: 'Cocktail Name' %>
              <%= f.button :submit, 'Create', class: 'btn btn-primary btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
