<div class="col">
  <div class="row mb-5 justify-content-center">
    <h1 class="text-light mb-0">Search Results</h1><br>
    <h4>You searched for '<strong><%= @input %></strong>'</h4>.
  </div>
  <div class="row">
    <h3 class="text-light">Matching Cocktails</h3>
  </div>
  <div class="row">
    <div class="cards flex-fill">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail, class: 'text-light' do %>
          <% if cocktail.photo.attached? %>
            <div class="cocktail-pic" style="background-image: url(<%= cl_image_path cocktail.photo.key %>)">
          <% else %>
            <div class="cocktail-pic" style="background-image: url('https://i.imgur.com/cxWlXuH.jpg')">
          <% end %>
              <div class="card-category">
                <%= cocktail.name.titleize %>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <h3 class="text-light">Ingredients Found In</h3>
  </div>
  <div class="row">
    <div class="cards flex-fill">
      <% @ingredients.each do |cocktail| %>
        <%= link_to cocktail, class: 'text-light' do %>
          <% if cocktail.photo.attached? %>
            <div class="cocktail-pic" style="background-image: url(<%= cl_image_path cocktail.photo.key %>)">
          <% else %>
            <div class="cocktail-pic" style="background-image: url('https://i.imgur.com/cxWlXuH.jpg')">
          <% end %>
              <div class="card-category">
                <%= cocktail.name.titleize %>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
