<div class="col">
  <div class="row mb-5 justify-content-center">
    <h1 class="text-light mb-0"><%= @show_cocktail.name.titleize %></h1>
  </div>
  <div class="row">
    <div id="recipe" class="d-flex flex-wrap flex-fill">
      <div class="col-12 col-md-6 col-lg-4 d-flex flex-column">
        <div class="card text-light bg-primary mb-3 d-flex">
          <div class="card-header h4">YOUR DRINK</div>
          <img class="img-fluid" src="<%= @show_cocktail.picture %>" alt="<%= @show_cocktail.name %>">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle rounded-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Edit
            </button>
            <div class="dropdown-menu bg-primary border-0 w-100">
              <%= simple_form_for @show_cocktail, html: { class: 'px-2 py-1' } do |f| %>
                <%= f.input :name, label: false, placeholder: 'Cocktail Name', input_html: { class: 'bg-dark text-light' } %>
                <%= f.input :direction, as: :text, label: false, placeholder: 'Directions', input_html: { class: 'bg-dark text-light' } %>
                <%= f.input :picture, label: false, placeholder: 'Image Link', input_html: { class: 'bg-dark text-light' } %>
                <%= f.button :submit, 'Edit', class: 'btn btn-secondary btn-block' %>
              <% end %>
            </div>
            <%= link_to 'Delete', cocktail_path(@show_cocktail),
          data: {confirm: "Delete #{@show_cocktail.name.titleize}?"}, 
          class: 'btn btn-danger', method: :delete %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-start">
        <div class="card text-light bg-primary mb-3">
          <div class="card-header h4 border-bottom border-light">INGREDIENTS</div>
          <div class="card-body pt-0">
            <div class="list-group">
              <% @doses.each do |dose| %>
                <div class="list-group-item d-flex bg-primary text-light justify-content-between border-0 p-0 pt-3">
                  <div><%= "#{dose.description} #{dose.ingredient.name}" %></div>
                  <%= link_to dose_path(dose),
                  data: {confirm: "Delete #{dose.description} #{dose.ingredient.name}?"}, 
                  class: 'text-decoration-none', method: :delete do %>
                  <i class="fas fa-minus text-light"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card mb-3 bg-primary w-100 mb-3 bg-primary">
          <div class="card-header h4 border-bottom border-light">DIRECTIONS</div>
          <div class="card-body pt-0">
            <div class="list-group">
              <% @show_cocktail.direction.split('.').each do |step|%>
                <div class="list-group-item bg-primary text-light border-0 p-0 pt-3"><%= step %>.</div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 d-flex flex-column">
        <div class="card text-light bg-primary">
          <div class="card-header h4 border-bottom border-light">ADD A DOSE?</div>
          <div class="card-body">
            <%= simple_form_for [@show_cocktail, @dose] do |f| %>
              <div class="form-row">
                <div class="col">
                  <%= f.input :description, label: false, placeholder: 'How much?', input_html: { class: 'bg-dark text-light' } %>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <%= f.association :ingredient, label: false, prompt: 'select ingredient', input_html: { class: 'bg-dark text-light' } %>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <%= f.button :submit, 'Add', class: 'btn btn-secondary btn-block' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
